*{
    margin: 0;
}
main{
    border: solid black 1px;
    margin-top: 20vh;
    display: flex;
    
}
.prestar1{
    border: solid black 1px;
    width: 50%;
    height: 200px;
    text-align: left;
}
.prestar2{
    border: solid black 1px;
    width: 50%;
}